@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@flaticon/flaticon-uicons/css/all/all";

/* font classes */
.anonymous-pro-reg {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

.anonymous-pro-reg-i {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
}

.anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
}

.anonymous-pro-bold-i {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
}


.nunito-reg {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-md {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sb {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-bold {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
}

.rubik-reg {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.rubik-md {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: medium;
}

.rubik-sb {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.rubik-bold {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* html, body, element styles */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url('./../public/Blur/blur-back.jpg');
    /* background-size: 100%; */
    background-position: center bottom;
    backdrop-filter: brightness(110%);
    background-repeat: no-repeat;
    background-attachment: fixed
}

/* custom classes */
.navbar {
    @apply h-[75px] relative;
}

.h-cover {
    @apply h-[calc(100vh-75px)];
}